@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
* {
  margin: 0px;
  padding: 0px;
}
body {
  height: 100vh;
  width: 100%;
}
.Complete{
  max-width:1100px;
  justify-content:center;
}
.Author {
  border: 1px solid black;
}
.container {
  width: 100%;
  height: 40vh;
  background-color: black;
  color: antiquewhite;
}
.menu ul {
  display: inline-flex;
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 20px;
}
.menu ul li {
  list-style: none;
  margin: 0 20px;
  color: antiquewhite;
  cursor: pointer;
}
.AboutPoet {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
}
.para1 {
  font-size: 10px;
  margin-top: 15px;
}
.container22{
  background:url("https://kavishala.s3.ap-south-1.amazonaws.com/sootradhar_author/bangladesh_national_poet_kazi_nazrul_islam.jpg");
  min-height:  300px;
  width:200px;
  background-size:cover;
  background-repeat: no-repeat;
  background-color:orange;
  background-blend-mode:screen;
  margin-top:50px;
  margin-left:10px;
}

.container21{
  display:flex;
  flex-direction:column;
  width:700px;
  margin-top:50px;
}
.outside2{
  display:flex;
  justify-content: space-evenly;
  
}
.auth-para{
        margin-top:0px;
  text-align: left;
  margin-bottom:20px;
}
.auth-head{
      margin-bottom:5px;
}
.url1 {
  border: 2px solid black;
  background-color: lightgrey;
  padding: 2px;
}
.url2 {
  border: 2px solid black;
  background-color: red;
  color: white;
  padding: 2px;
}
.url3 {
  border: 2px solid black;
  background-color: orange;
  color: whitesmoke;
  padding: 2px;
}
.urls {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-bottom: 20px;
}
.para4 {
  background-color: black;
  color: white;
  height: 60px;
  text-align: center;
  padding: 25px;
}
.para5 {
  color: black;
  text-align: center;
  font-size: 2rem;
  margin-top: 20px;
  margin-bottom: 20px;
}

.Awards-list {
  display: flex;
  gap: 1rem;
  margin-left: 100px;
  min-height: 100px;
}
.Awards {
  border: 1px solid black;
  padding: 3px;
  border-radius: 5px;
  background-color: whitesmoke;
}
.Awards-heading {
  font-size: 0.7rem;
  margin-bottom: 0px;
}
.year {
  margin-top: 0px;
  font-size: 0.6rem;
  color: graytext;
}
.Award-para {
  font-size: 0.75rem;
  font-family: sans-serif;
}
.Poetry-block {
  text-align: center;
  padding-bottom: 50px;
  font-family: sans-serif;
  font-weight: 0.75px bold black;
}
.final-block {
  display: flex;
  gap:1.5rem;
  margin-top: 100px;
  margin-left: 100px;
  margin-bottom: 100px;
}
.footer {
  height: 10rem;
  background-color: black;
}
.Complete {
  width: 100%;
}
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0px;
    background-color: black;
    color: whitesmoke;
    width: 100%;
    font-family: sans-serif;
    border: 1px solid white;
    align-items: center;
}
.footer1{
  border-right:1px solid white;
  padding:2px;
}
.footer2{
  border-left:1px solid white;
  padding:2px;
}
.foot1{
  font-size:15px;
  margin-bottom:10px;
}
.foot2{
  font-size:8px;
}
.col1{
  color:grey;
}
.col2{
  color:blue;
}

@media(max-width:690px){
  body{
    font-size:10px
  }

  .Awards-list {
  display: flex;
    flex-direction:column;
  gap: 1rem;
  margin-left: 100px;
  min-height: 100px;
}
  .final-block {
  display: flex;
    flex-direction:column; 
  gap:1.5rem;
  margin-top: 100px;
  margin-left: 100px;
  margin-bottom: 100px;
}
 .container21{
  display:flex;
  flex-direction:column;
  width:auto;
}

    .outside2{
  display:flex;
      flex-direction:column;
  justify-content: space-evenly;
  
}
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0px;
    background-color: black;
    color: whitesmoke;
    width: 100%;
    font-family: sans-serif;
    border: 1px solid white;
    align-items: center;
} 
}
@media(max-width:293px){
    .menu ul {
    display:block;
  }
}